body {
    background-color: orchid;
    color: white;
}

h1, h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    color: gold;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.index .recipe-links{
    display: flex;
    justify-content: center;
    margin: 0;
}

.index .recipe-links a {
    font-size: 25px;
    line-height: 1.5;
    color: yellow;
    text-decoration: none;
}

.index .recipe-links a:hover {
    color: aqua;
    text-decoration: underline;
}
