* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: orchid;
    color: white;
}

h1, h3 {
    display: flex;
    justify-content: center;
    margin: 0;
    color: gold;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

.index .recipe-links, .link-list{
    display: flex;
    justify-content: center;
    margin: 0;
}

.index .recipe-links a, .link-list a, .navigation a {
    font-size: 25px;
    color: yellow;
    text-decoration: none;
}

.index .recipe-links a {
    line-height: 1.5;
}

.index .recipe-links a:hover, .link-list a:hover, .navigation a:hover {
    color: aqua;
    text-decoration: underline;
}

.link-list {
    position: relative;
    list-style-type: none;
}

.link-list li {
    padding: 10px;
    margin-right: 15px;
}

.navigation {
    position: fixed;
}

